# From: https://github.com/quantopian/zipline/blob/master/etc/requirements.txt

# Incompatible with earlier PIP versions

# Basic scaffolding
pytest
Flask

# Scientific Libraries

# dependencies for for pandas-datareader
numpy
requests-file
pandas==0.19.0

pandas-datareader
